@font-face {
  font-family: 'Avro';
  src: url(fonts/Arvo-Regular.ttf);
}

@font-face {
  font-family: 'AvroItalic';
  src: url(fonts/Arvo-Italic.ttf);
}

html, body {
  font-family: Avro;
  height: 100%;
}

p {
  font-size: 3rem;
  color: rgb(35, 35, 35);
  font-weight: bold;
  text-align: center;
}

a {
  margin: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(35, 35, 35);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: rgb(70, 70, 70);
}
  
.header {
  display: inline-flex;
}

.header img {
  height: 7.4rem;
  margin-left: -1.1rem;
  margin-right: -0.7rem;
  margin-top: 2.2rem;
}

body {
overflow: hidden;
display: flex;
justify-content: center;
vertical-align: middle;
align-items: center;
flex-direction: column;
background-color: #fffae5;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 1.4rem 0;
}

.footer a{
  font-size: 1rem;
  color: rgb(125, 123, 123);
}

.footer a:hover {
  color: rgb(97, 97, 97);
  text-decoration: none;
}
