@font-face {
  font-family: 'Avro';
  src: url(fonts/Arvo-Regular.ttf);
}

@font-face {
  font-family: 'AvroItalic';
  src: url(fonts/Arvo-Italic.ttf);
}

input[type=button] {
  font-family: Avro;
  font-size: 1rem;
}

html, body {
  font-family: Avro;
  height: 100%;
}

body {
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
  background-color: #f4f0e8;
}

#lightbulb {
  transition: transform 0.1s ease-in-out;
  transform: rotate(-5deg);
}

#lightbulb.on {
  transform: rotate(5deg);
}

h2 {
  font-size: 1.5rem;
  color: rgb(35, 35, 35);
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  text-decoration: underline;
  color: rgb(70, 70, 70);
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(35, 35, 35);
  font-weight: bold;
}

p {
  font-size: 1rem;
  color: rgb(35, 35, 35);
  font-weight: bold;
  text-align: center;
}
