@font-face {
    font-family: 'Avro';
    src: url(fonts/Arvo-Regular.ttf);
  }
  
  @font-face {
    font-family: 'AvroItalic';
    src: url(fonts/Arvo-Italic.ttf);
  }
  
  input[type=button] {
    font-family: Avro;
    font-size: 16px;
  }
  
  html, body {
    font-family: Avro;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f0e8;
  }

  p {
  font-size: 4.5rem;
  color: rgb(25, 25, 25);
  font-weight: bold;
  }
  
  a {
  text-decoration: none;
  margin: 0.5rem;
  font-size: 2rem;
  color: rgb(25, 25, 25);
  font-weight: bold;
  }
  
  a:hover {
  text-decoration: underline;
  color: grey;
  }
  
  .header {
  margin-top: -3rem;
  display: inline-flex;
  }
  
  .header img {
  height: 12rem;
  margin-left: -1.9rem;
  margin-right: -1.4rem;
  margin-top: 2.5rem;
  }
